---
import card1 from "../assets/sections/celebrities/card1.JPG";
import card2 from "../assets/sections/celebrities/card2.JPG";
import card3 from "../assets/sections/celebrities/card3.JPG";
import card4 from "../assets/sections/celebrities/card4.JPG";
import card5 from "../assets/sections/celebrities/card5.JPG";
import card6 from "../assets/sections/celebrities/card6.png";
---

<section class="bg-[#181d28] py-10 px-4">
  <div class="max-w-[1240px] mx-auto text-center mb-10">
    <h2
      class="text-2xl sm:text-3xl md:text-4xl font-semibold text-transparent bg-clip-text bg-gradient-to-l from-[#F8CB4C] to-[#C58838]"
    >
      Фото и события
    </h2>
    <div
      class="w-24 h-1 bg-gradient-to-r from-[#C58838] to-[#F8CB4C] mx-auto rounded-full mt-4"
    >
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-6 max-w-[1240px] mx-auto">
    <!-- Карточка 1 -->
    <div
      class="relative overflow-hidden group transition-all duration-300 border border-[#181d28] hover:border-[#F8CB4C]"
    >
      <div class="relative h-64 overflow-hidden">
        <img
          src={card1.src}
          alt="Событие 1"
          class="w-full h-full object-cover group-hover:scale-105 transition-transform duration-500"
        />
        <div
          class="absolute bottom-0 left-0 right-0 h-2/3 bg-gradient-to-t from-black to-transparent pointer-events-none"
        >
        </div>
        <div
          class="absolute bottom-0 left-0 right-0 p-4 bg-gradient-to-t from-black/70 to-transparent"
        >
          <p
            class="text-sm md:text-base font-semibold text-transparent bg-clip-text bg-gradient-to-r from-[#F8CB4C] to-[#C58838] leading-snug"
          >
            Церемония награждения дзюдоистов Мэром города и Расулом Бокиевым
          </p>
        </div>
      </div>
    </div>

    <!-- Карточка 2 -->
    <div
      class="relative overflow-hidden group transition-all duration-300 border border-[#181d28] hover:border-[#F8CB4C]"
    >
      <div class="relative h-64 overflow-hidden">
        <img
          src={card2.src}
          alt="Событие 2"
          class="w-full h-full object-cover group-hover:scale-105 transition-transform duration-500"
        />
        <div
          class="absolute bottom-0 left-0 right-0 h-2/3 bg-gradient-to-t from-black to-transparent pointer-events-none"
        >
        </div>
        <div
          class="absolute bottom-0 left-0 right-0 p-4 bg-gradient-to-t from-black/70 to-transparent"
        >
          <p
            class="text-sm md:text-base font-semibold text-transparent bg-clip-text bg-gradient-to-r from-[#F8CB4C] to-[#C58838] leading-snug"
          >
            Церемония награждения дзюдоистов Президентом Федерации Дзюдо и
            Расулом Бокиевым
          </p>
        </div>
      </div>
    </div>

    <!-- Карточка 3 -->
    <div
      class="relative overflow-hidden group transition-all duration-300 border border-[#181d28] hover:border-[#F8CB4C]"
    >
      <div class="relative h-64 overflow-hidden">
        <img
          src={card3.src}
          alt="Событие 3"
          class="w-full h-full object-cover group-hover:scale-105 transition-transform duration-500"
        />
        <div
          class="absolute bottom-0 left-0 right-0 h-2/3 bg-gradient-to-t from-black to-transparent pointer-events-none"
        >
        </div>
        <div
          class="absolute bottom-0 left-0 right-0 p-4 bg-gradient-to-t from-black/70 to-transparent"
        >
          <p
            class="text-sm md:text-base font-semibold text-transparent bg-clip-text bg-gradient-to-r from-[#F8CB4C] to-[#C58838] leading-snug"
          >
            Помощник Президента РТ по вопросам социального развития Абдулло Рахмонзода вместе с Расулом Бокиевым
          </p>
        </div>
      </div>
    </div>

    <!-- Карточка 4 -->
    <div
      class="relative overflow-hidden group transition-all duration-300 border border-[#181d28] hover:border-[#F8CB4C]"
    >
      <div class="relative h-64 overflow-hidden">
        <img
          src={card4.src}
          alt="Событие 4"
          class="w-full h-full object-cover group-hover:scale-105 transition-transform duration-500"
        />
        <div
          class="absolute bottom-0 left-0 right-0 h-2/3 bg-gradient-to-t from-black to-transparent pointer-events-none"
        >
        </div>
        <div class="absolute bottom-0 left-0 right-0 p-4">
          <p
            class="text-sm md:text-base font-semibold text-transparent bg-clip-text bg-gradient-to-r from-[#F8CB4C] to-[#C58838] leading-snug"
          >
            Председатель комитета по делам молодежи и спорта Зульфикор Гулфхмадзода вместе с Расулом Бокиевым
          </p>
        </div>
      </div>
    </div>
    <div
      class="relative overflow-hidden group transition-all duration-300 border border-[#181d28] hover:border-[#F8CB4C]"
    >
      <div class="relative h-64 overflow-hidden">
        <img
          src={card5.src}
          alt="Событие 4"
          class="w-full h-full object-cover group-hover:scale-105 transition-transform duration-500"
        />
        <div
          class="absolute bottom-0 left-0 right-0 h-2/3 bg-gradient-to-t from-black to-transparent pointer-events-none"
        >
        </div>
        <div class="absolute bottom-0 left-0 right-0 p-4">
          <p
            class="text-sm md:text-base font-semibold text-transparent bg-clip-text bg-gradient-to-r from-[#F8CB4C] to-[#C58838] leading-snug"
          >
            Встреча и автограф сессия Расула Бокиева с 5-кратным олимпийским чемпионом по дзюдо Тедди Ринером
          </p>
        </div>
      </div>
    </div>
    <div
      class="relative overflow-hidden group transition-all duration-300 border border-[#181d28] hover:border-[#F8CB4C]"
    >
      <div class="relative h-64 overflow-hidden">
        <img
          src={card6.src}
          alt="Событие 4"
          class="w-full h-full object-cover object-top group-hover:scale-105 transition-transform duration-500"
        />
        <div
          class="absolute bottom-0 left-0 right-0 h-2/3 bg-gradient-to-t from-black to-transparent pointer-events-none"
        >
        </div>
        <div class="absolute bottom-0 left-0 right-0 p-4">
          <p
            class="text-sm md:text-base font-semibold text-transparent bg-clip-text bg-gradient-to-r from-[#F8CB4C] to-[#C58838] leading-snug"
          >
            Встреча и автограф сессия Расула Бокиева с 2-кратным олимпийским чемпионом по дзюдо Сёхэй Оно
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
